#logotipo{


width: 20% ;
padding-right: 0 ;
padding-left: 770px ;
float: top ;

}


#linha1{
background-color:white;






}

#fundo{

width: 100% ;
margin-top:-20px ;
padding-left: 15px;



}

#cardapio{
width: 35%;
padding-left: 100px ;
padding-right: 0px ;
margin-top: -1150px ;

}

#interior{

width: 40% ;
padding-left: 1000px;
padding-right: 0px;
margin-top: -1150px ;
}

#vocemequer{

width: 30% ;
padding-left: 1250px ;
padding-right: 800px ;
margin-top: -700px ;

}

#market{

width:25% ;
margin-top:-700px ;
padding-left:765px;

}

.h2lista{
padding-left: 10px  ;
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
}

.h3formulario{
font-family:Arial, Helvetica, sans-serif ;
padding-left: 10px;


}

.h4titulotabela{

font-size: 30px ;








}

.h4tabela{
font-size: 40px ;
padding-left: 0px;
margin-top: 30 ;
font-family: Arial, Helvetica, sans-serif;
width: 800px ;
border:  5px solid rgb(0, 0, 0);
color: rgb(0, 255, 242);

}
td{
color: rgb(0, 0, 0);
border: 2px solid rgb(0, 0, 0);
width: 400px ;
padding: 6px;
}

tr{

background-color: rgb(255, 255, 255);

}

.h5link{

font-size: 170% ;

}





